<section>

	

	<form class = "log-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <h2>
        Login
      </h2>
	    <div class="group log-input">
	    	<input type="text"  formControlName="email" placeholder = "Email">
	    </div>

	    <div class="group log-input">
	        <input type="password"   formControlName="password"  placeholder = "Password">
	    </div>

	    <span class="check left-align">
	        <input type="checkbox">
	        <label>Remember Me</label>
	    </span>

	    <a class = "right-align" href="#">Forgot Password</a>

	    <br><br>

		<div class="container-log-btn">
          <button mat-raised-button color="primary" class="log-form-btn" type="submit"> <span>Login</span></button>
        </div>

	</form>

	

</section>