<div class="col-12 p-4 mt-3">
    <div class="row">
        <div class="col-8">
           <div class="col-12">
            <div class="row chart-wraper-card">
                <div class="col-sm-12 col-xs-12 cus-col-6 chart-card">
                    <div id="semester-chart-container" class="col-12" style="height: calc(350px - 72px);"></div>
                </div>
                <div class="col-sm-12 col-xs-12 cus-col-6 chart-card">
                    <div id="semester-wise-chart-container" class="col-12" style="height: calc(350px - 72px);"></div>

                    
                </div>
           </div>
           </div>
           <div class="row mt-5">
            <div class="col-12 chart-card m-h-20"></div>
           </div>
        </div>
        <div class="col-4 news-container">
            <h3>News</h3>
            <hr>
        </div>
    </div>
</div>